@model KMAP.Models.KMDocument
@using KMAP.Controllers.General
@using KMAP.Models

@{
    ViewBag.Title = "KM Advance Search with DocClass and DocClassValue";
    string searchResult = string.IsNullOrEmpty(ViewBag.ResultText) ? string.Empty : ViewBag.ResultText;
    string PartialExtendedSearchResult = "PartialExtendedSearchResult";
    string ReadContentUrl = Constant.ReadContentUrl;
    IList<DatumClass> datumClasses = ViewBag.DatumClassList;
}

<h2>@ViewBag.Title</h2>

<div class="modal-body">
    @if (ViewBag.DatumClassList != null)
    {
        @Html.Partial(PartialExtendedSearchResult, datumClasses);
    }
    <pre>
@searchResult
    </pre>
   
</div>

