@using KMAP.Models
@using KMAP.Controllers.General
@model IEnumerable<KFDatum>
@{ 
    //http://km.iec.inventec/ESP/download.aspx?documentId=3575&fileName=KMAP.zip
}
    <div>
        <table class="table table-bordered table-striped table-condensed" style="width:100%">
            <tr>
                <th>DisplayName</th>
                <th>FIleSize</th>
            </tr>
            @foreach (var item in Model)
            {
                string result = item.GetFileUrl(DocId: item.DocumentId, FileName: HttpUtility.UrlEncode(item.DisplayName));
                    
                <tr>
                    <td><a href=@result target="_blank">@Html.DisplayFor(modelItem => item.DisplayName)</a></td>
                    <td>@Html.DisplayFor(modelItem => item.FileSize)</td>
                </tr>
                
            }
        </table>
    </div>
